* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
    min-height: 100vh;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.header__container {
    margin-bottom: 20px;
}
